<!--级别：ALL,TRACE, DEBUG, INFO, WARN, ERROR ,FATAL,OFF-->
<configuration status="OFF" monitorInterval="30">
    <Properties>
        <Property name="pattern">%d{yyyy-MM-dd HH:mm:ss,SSS}|%p|%c|%L|%m%n</Property>
        <Property name="logPath">logs</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%style{%d{ISO8601}}{bright,green} %highlight{%-5level} [%style{%t}{bright,blue}] %style{%C{}}{bright,yellow}: %msg%n%style{%throwable}{red}"/>
        </Console>

        <RollingFile name="TraceLog"
                                 immediateFlush="false"
                                 fileName="${logPath}/trace.log"
                                 filePattern="${logPath}/trace-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="${pattern}"/>
            <Policies>
                <!-- 按天生成日志文件-->
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
            </Policies>
            <!-- 最多保存日志文件的数目 -->
            <DefaultRolloverStrategy max="15"/>
        </RollingFile>

        <RollingFile name="ErrorLog"
                                 immediateFlush="false"
                                 fileName="${logPath}/error.log"
                                 filePattern="${logPath}/error-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="${pattern}"/>
            <Filters>
                <ThresholdFilter level="ERROR"/>
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
            </Policies>
            <DefaultRolloverStrategy max="60"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="com.binla.bcs" level="ALL" additivity="true"/>
        <!-- 只输出 ERROR 级别以上的日志 -->
        <Logger name="org.springframework" level="ERROR"/>
        <Logger name="org.apache" level="ERROR"/>
        <Logger name="com.zaxxer" level="ERROR"/>
        <Logger name="springfox.documentation" level="ERROR"/>
        <Root level="all">
            <appender-ref ref="Console"/>
            <appender-ref ref="TraceLog"/>
            <appender-ref ref="ErrorLog"/>
        </Root>
    </Loggers>
</configuration>