<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.binla.bcs.repository.IRoleRepository">

    <sql id="BaseColumn">
        id,
        `name`,
        `desc`,
        insert_user,
        insert_date,
        update_user,
        update_date
    </sql>

    <resultMap id="roleMap" type="com.binla.bcs.entity.Role">
        <result column="insert_user" property="insertUser"/>
        <result column="insert_date" property="insertDate"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_date" property="updateDate"/>
    </resultMap>

    <select id="getAll" resultMap="roleMap">
        SELECT
        <include refid="BaseColumn"/>
        FROM role
    </select>

    <select id="getById" resultMap="roleMap">
        SELECT
        <include refid="BaseColumn"/>
        FROM role
        WHERE id = #{id}
    </select>

    <select id="getByIds" resultMap="roleMap">
        SELECT
        <include refid="BaseColumn"/>
        FROM role
        WHERE id IN
        <foreach item="id" collection="ids" separator="," open="(" close=")">
            #{id}
        </foreach>
    </select>
</mapper>